%about-buttons {
    position: absolute;
    left: 0;
    top: 400px;

    a {
        text-decoration: none;
        color: $third-color;
        font-size: 10px;
        letter-spacing: 1px;
        border: 1px solid $third-color;
        padding: 15px 30px;
        transition: 0.3 ease-in-out;

        &:hover {
            background-color: $main-color;
            color: $secondary-color;
        }
    }
}